body {
  background: grey;
}

.app {
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  color: var(--light-color);
}

header {
  background-color: #304156;
  margin-bottom: 20px;
}

h1 {
  color: #FBFBFB;
  padding-bottom: 20px;
}

h2 {
  color: #FBFBFB;
  padding-bottom: 20px;
  text-decoration: underline;
}

.app form {
  background-color: #304156;
  min-height: 50vh;
  max-height: 50vh;
  gap: 10%;
  min-width: 50%;
  max-width: 50%;
  box-shadow: 0 3px 6px 2px;
  margin: auto;
  padding: 20px;
  border-radius: 20px;
  margin-bottom: 20px;
}

.input-container {
  margin: 1% 2% 0 2%;
}

.input-container label {
  margin-top: 2%;
}

.app form input[type="text"] {
  width: 70%;
  box-shadow: 0 2px 4px 0;
  height: 5vh;
  padding: 5px 10px;
  border-radius: 10px;
  font-weight: 700;
  border: none;
  margin: auto;
}

.app form input[type="number"] {
  width: 70%;
  box-shadow: 0 2px 4px 0;
  height: 5vh;
  padding: 5px 10px;
  border-radius: 10px;
  font-weight: 700;
  border: none;
  margin: auto;
}

.error-span {
  color: red;
}

.button-container {
  margin-top: 20px;
}

.btn-submit,
.btn-reset {
  padding: 2% 4%;
  border-radius: 1rem;
  font-weight: 700;
  border: none;
  cursor: pointer;
  max-width: 40%;
}

.app form input:focus {
  border: none;
  outline: 2px solid #eb98aeb1;
}

.app ul li {
  list-style: none;
  text-shadow: none;
  text-transform: capitalize;
  white-space: pre;
}

.btn:hover {
  opacity: 0.8;
}

.card-container {
  gap: 20px;
  margin-top: 50px;
}

.created-list {
  margin-left: 1%;
  margin-bottom: 1%;
  border: 3px solid #304156;
  padding: 1%;
  border-radius: 10px;
  background-color: #304156;
  color: var(--light-color);
  position: relative;
  box-shadow: 0 4px 6px 0;
}

.card-number {
  text-decoration: solid;
}

.escape-button {
  position: absolute;
  top: 0;
  right: 0;
  background-color: red;
  color: white;
  padding: 4px;
}